@import url("https: //fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://use.fontawesome.com/releases/v6.1.2/css/all.css");
@import url("components/container.css");
@import url("components/font.css");
@import url("components/left-column.css");
@import url("components/right-column.css");
@import url("components/corner-round.css");
@import url("components/skills.css");
@import url("components/hobbies.css");
@import url("components/icons-delay.css");
@import url("components/text-diagonal.css");
@import url("components/list-inline.css");

body {
  /* margin: 100px; */
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

ul {
  list-style-type: none;
}
